<div class="container">
  <div class="formContainer">
    <mz-card [hoverable]="true">
      <mz-card-title style="color: #2196F3; font-size: 40px">
        Upload Image
      </mz-card-title>
      <mz-card-content>
        <form [formGroup]="uploadImageForm" (ngSubmit)="onSubmit()" novalidate>

          <div class="row">
            <mz-input-container class="col s12 m12 l12 xl12">
              <input mz-input mz-validation required
                     title="title"
                     id="input-title"
                     formControlName="title"
                     type="text"
                     [errorMessageResource]="errorMessages.title"
                     [label]="'Title'">
            </mz-input-container>
          </div>

          <div class="row">
            <mz-input-container class="col s12 m12 l12 xl12">
              <textarea mz-textarea mz-validation
                        title="description"
                        id="input-description"
                        formControlName="description"
                        [label]="'Description'"
                        [length]="255">
              </textarea>
            </mz-input-container>
          </div>

          <div class="row">
            <mz-input-container class="col s12 m12 l12 xl12">
              <input mz-input mz-validation required
                     title="imageUrl"
                     id="input-image-url"
                     formControlName="imageUrl"
                     type="text"
                     [errorMessageResource]="errorMessages.imageUrl"
                     [label]="'Image Url'">
            </mz-input-container>
          </div>

          <div class="row">
            <button mz-button [disabled]="!uploadImageForm.valid" type="submit" class="col s12 m12 l12 xl12">Upload Image</button>
          </div>
        </form>
      </mz-card-content>
    </mz-card>
  </div>
</div>

